/* Google font */
@import url('
https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600&display=swap
');

body {
  margin: 0;
  font-family: "Inconsolata", monospace;
  background: url("
https://img.freepik.com/free-vector/background-abstract-pixel-rain_23-2148370436.jpg
") no-repeat center/cover fixed;
  color: #111;
}

/* ------------ HEADERS ------------ */
h1, h2 {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 25px;
  border: 4px solid black;
  margin: 20px auto;
  width: fit-content;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

/* ------------ VIDEO GRID ------------ */
.videos {
  text-align: center;
}

.video-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

iframe {
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  transition: transform 0.3s;
}

iframe:hover {
  transform: scale(1.03);
}

/* ------------ DETAILS ------------ */

details {
  background-color: rgba(255,255,255,0.9);
  width: 85%;
  margin: 30px auto;
  padding: 20px;
  border-radius: 25px;
  border: 4px solid black;
  font-size: 22px;
}

summary {
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 10px;
}

/* ------------ FOOTER NAV ------------ */
.nav-footer {
  text-align: center;
  margin: 40px 0;
}

.nav-footer a {
  font-size: 28px;
  background: white;
  padding: 10px 25px;
  border-radius: 20px;
  border: 3px solid black;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.nav-footer a:hover {
  background: black;
  color: white;
} 
